html {
	box-sizing: border-box;
}


*, *::before, *::after {
 	box-sizing: inherit;
 }

 body {
	margin: 0;
	padding: 0;
}

main {
	margin: ;
}

header {
	font-family: , serif;
	background-color: ;
	color: ;
	margin: 0em;
	text-align: center;
	text-decoration: none;
}


h1 {
	font-family: 'Noto Sans', sans-serif;
	text-align: center;
	position: relative;
	display: block;
	text-align: center;
	bottom: 1.5em;
	color: white;

}


h2 {
	color: ;
	background-color: ;
	font-family: 'Noto Sans', sans-serif;
	font-weight: ;
	font-size: 2rem;
	font-style: ;
	text-decoration: none;
	line-height:;
	text-align: center;
	padding: 1em 0em 1em 0em;
	border-top: none;
}






/*nav ol {
	overflow: hidden;
	padding: 0;
}

nav li {
	font-family: 'Merriweather', serif;
	text-align: center;
	margin: 0;
	width: 33.3333%;
	text-decoration: ;
	display: block;
	float: left;
	list-style-type: none;
	display: inline-block;
	overflow: hidden;
	float: left;
}*/

p {
	line-height:1.5;
	font-weight: normal;
	font-size: 1rem;
	text-decoration: none;
	margin-top: 0;
	text-align: center;
	font-size: 0.5em;
	font-family: 'Noto Sans', sans-serif;
}

div {
overflow: hidden;
background-color: white;
margin: 0em;
clear: right;
}

em {
	xcolor: black;
	font-weight: bold;
}


img {
	width: 100%;
}


figure {
	position: relative;
	text-align: center;
	background-color: ;
	border: none;
	border-color: ;
	border-radius: 0;
	padding: 0;
	margin: 0em;
}



footer {
	background-color: ;
	text-align: center;
	padding: 2em 1em 2em 1em ;
	background-color: #222222;
	clear: both;
}

ol {
	text-align: left;
	margin:0;
	width: 100%;
	padding: 0;
}

/* CLASSES AND HOVERS< */

. {
	clear: left;}

.bdiv {
		background-color: white;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}

.banner {
	position: relative;
	width: 100%;
}
	.shengxiao {
	position: absolute;
	bottom: 10%;
	left: 0em;
	text-align: center;
	color: white;
	display: inline-block;
	font-size: 1.5em;
	width: 100%;
	text-shadow: #222222 1px 3px 2px;

	}

.dnav {
	background-color: #222222;
	margin: 0 auto;
	overflow: hidden;

}

.dnav li {
	float: left;
	width: 50%;
	border: solid 1px black;
	padding: 1em;
	margin: 0;
	padding-left: 0;
	list-style-type: none;
		font-family: 'Noto Sans', sans-serif;
}

.firstrow {
	text-decoration: none;
	color: white;
	bottom: .5em;

}

.secondrow {
	text-decoration: none;
	color: white;
	bottom: .5em;

}

.chinese{
	color: white;
	position: relative;
	margin: 0 auto;
	text-align: center;
	bottom: 1.5em;
	display: block;

}

.dheader {
	background-color: #e7001d;
	postion: relative;
	padding: 0;
}

.pdragon{
font-style: italics;}


.dsymbol{
	float: left;
	width: 50%;
	clear: left;

}
.dragon {
		float: right;
	width: 50%;
	clear: right;
}

.ddiv {
	background-color: #e4c22a;
	margin: 0 auto;

}

.tgoat {
	color: white;
}

.pgoat{
	color: white;
		font-style: italic;
}

.gsymbol{
		float: right;
	width: 50%;
	clear: right;
}

.goat {
	float: left;
	width: 50%;
	clear: left;

}

.gdiv {
		background-color: #222222;
		margin: 0 auto;

}

.trooster {
	color: white;
}

.prooster{
	color: white;
	font-style: italic;
}


.rsymbol{
	float: left;
	width: 50%;
	clear: left;
}

.rooster {
	float: right;
	width: 50%;
	clear: right;

}

.rdiv {
	background-color: #e7001d;
		margin: 0 auto;
}

.osymbol{
		float: right;
	width: 50%;
	clear: right;

}



.ox {
		float: left;
	width: 50%;
	clear: left;

}

.pox {
	font-style: italic;
}
.odiv {
	background-color: #e4c22a;
	margin: 0 auto;
}


.medallion {
	width: 66px;
	position: relative;
	display: block;
	top: 40px;
	margin: 0 auto;


}

a:hover {
	background-color: ;
}

. {
	float:left;
	width: ;
	margin-right: 15px;
	margin-bottom: 15px;

}

.{
	float: right;
	width: 35%;
	margin-right: 15px;
	clear: left;
}


{
	float:right;
	width: 25%;
	margin-right: 15px;

}

.clear-it {
	clear: right;
	}


.dfooter{
	background-color: #222222;
	margin: 0 auto;
}

.back {
		margin: 0 auto;
	font-family: 'Noto Sans', sans-serif;
	color: white;

}
footer a {
text-decoration: underline;
color: #fff;}


position: relative;/* allows you to move the box as if its in the flow */
position: absolute;/* you position it against its partent element, thus body element that divs go into
you can give 'h' postion: absolute aswell however it moves relativeot its parent, and thus the parent has to be a relative.
*/

position: fixed; /* allows you to remove things form the flow and fix it ot the window you are viewin it on . therefor if yo uscroll down it wont move.
*/
